body{
    width: 90%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../img/supercar-wallpapers-bugatti-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.first{
    color: white;

    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    width: 50%;
    padding: 5px;

    top: 25%;
    left: 25%;

    position: absolute;

    text-align: center;
    font-size: 50pt;
}

div.first p{
    font-size: 50%;
}

div.solutions{

    color: white;

    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    width: 50%;
    padding: 5px;

    top: 25%;
    left: 25%;

    position: absolute;

    text-align: center;
    font-size: 50pt;

}

div.solutions p{
    font-size: 50%;
}

footer{
    background-color: black;
    color: white;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

    padding: 5px;

    font-size: 13pt;
    text-align: center;
}