
/* body section*/
body{
    width: 90%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url("../img/usca3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*title section*/
div.title{
    color: white;
    
    position: absolute;
    top: 5%;
    left: 30%;

    font-size: 130%;
}

/*navbar section*/
div.navbar{
    background-color: white;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    z-index: 2;
}

div.navbar ul li{
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 0% 1% 0% 3%;
    list-style: none;
}

div.navbar a{
    color: black
}

/*introduction section*/
div.introduction h1{
    color: white;
    
    position: absolute;
    text-align: center;
    text-decoration: underline;
    padding: 2% 2% 2% 2%;
    top: 25%;
    left: 41%;
    
    font-size: 200%;

    border-style: solid;
    border-radius: 50px;
    border-color: white;
}

div.introduction p{
    background-color: black;
    color: white;
    
    position: absolute;
    width: 25%;
    top: 42%;
    right: 37%;

    font-size: 150%;

    display: none;
}

div.introduction h1:hover{
    -webkit-transition: ease-in-out 2s, background-color 2s;
    background-color: blue;

    -webkit-transform: translate(10px, 10px);
}

div.introduction h1:hover + p{
    display: block;
}

/* schedule section*/
div.schedule h1{
    color: white;

    position: absolute;
    text-align: center;
    padding: 2% 2% 2% 2%;
    top: 40%;
    right: 12%;

    font-size: 200%;

    border-style: solid;
    border-radius: 50px;
    border-color: white;
}

div.schedule table{
    background-color: black;
    color: white;

    position: absolute;
    text-align: center;
    top: 50%;
    right: 37%;
    width: 25%;

    display: none;
}

div.schedule tr:nth-child(even){
    background-color: red;
}

div.schedule h1:hover{
    -webkit-transition: ease-in-out 2s, background-color 2s;
    background-color: blue;

    -webkit-transform: translate(10px, 10px);
}

div.schedule h1:hover + table{
    display: block;
}

/*contact information section*/
div.contact h1{
    color: white;

    position: absolute;
    text-align: center;
    padding: 2% 2% 2% 2%;
    top: 40%;
    left: 10%;
    
    font-size: 170%;

    border-style: solid;
    border-radius: 100px;
    border-color: white;  
}

div.contact address{
    background-color: black;

    position: absolute;
    top: 50%;
    left: 43%;

    font-size: 200%;

    display: none;
}

div.contact a{
    color: white;
}

div.contact h1:hover + address{
    display: block;
}

/* assignment section */
div.assignment h1{
    color: white;
    
    position: absolute;
    text-align: center;
    padding: 2% 2% 2% 2%;
    top: 70%;
    right: 11%;

    font-size: 200%;

    border-style: solid;
    border-radius: 50px;
    border-color: white;  
}

div.assignment ol li{
    background-color: black;
    color: white;

    position: relative;
    list-style-position: inside;
    text-align: center;
    list-style-type: upper-roman;
    padding: 1% 1% 1% 1%;
    width: 20%;
    top: 500px;
    left: 43%;

    font-size: 200%;

    display: none;
}

div.assignment a{
    color: white;
}

div.assignment h1:hover + ol li{
    display: block;
}

/* portfolio section */
div.portfolio h1{
    color: white;

    position: absolute;
    text-align: center;
    padding: 2% 2% 2% 2%;
    top: 70%;
    left: 14%;

    font-size: 200%;

    border-style: solid;
    border-radius: 50px;
    border-color: white;      
}

div.portfolio p{
    background-color: gray;
    color: white;
    
    position: absolute;
    width: 30%;
    top: 45%;
    left: 35%;

    font-size: 150%;

    box-shadow: 5px 10px black;

    display: none;
}

div.portfolio h1:hover{
    -webkit-transition: ease-in-out 2s, background-color 2s;
    background-color: blue;

    -webkit-transform: translate(10px, 10px);
}

div.portfolio h1:hover + p{
    display: block;
}

/* CHECKLIST SECTION */

/* picking a web font for paragraphs and picking font color/weight for all lists */
p{
    font-family: 'Noto Sans Mono', monospace;
}

li{
    color: white;
    font-weight: 100;
}

/* transforming all h1 text to uppercase, setting letter spacing, and applying text shadow*/
h1{
    text-transform: uppercase;
    letter-spacing: normal;
    text-shadow: black 0.1em 0.1em 0.2em
}

/* setting line height and text align in p */
p{
    line-height: normal;
    text-align: center;
}

/* setting text decoration to none and applying a special style for links */
a{
    text-decoration: none;
}

a:hover{
    background-color: lightblue;
}

/* image as the list-item marker */

/* adding border to p sections of all other divs */
div.introduction p, div.contact p, div.portfolio p, div.schedule table{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/* appropriate style to course schedule table */
div.schedule table{
    border: 2px;
    border-color: white;
    border-style: solid;
    padding: 1% 1% 1% 1%;
    vertical-align: middle;
    empty-cells: show;
}

/* footer */
footer{
    background-color: black;
    color: white;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}